.info-block {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.info-block__wrapper {
    display: flex;
    column-gap: 55px;
}

.info-block__picture img {
    max-height: 355px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
}

.info-block__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 20px;
}
.info-block__country {
    text-align: left;
    margin-top: 25px;
}

.info-block__country span {
    font-weight: 700;
}
.info-block__text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.info-block__text span {
    font-weight: 700;
}

.info-block__information {
    max-width: 418px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-block__card-info {
    text-align: left;
}
/* .info-block__information.left {
    align-items: flex-start;
    text-align: left;
} */

.info-block__price {
    font-size: 24px;
    line-height: 35px;
    margin-top: 16px;
}

.info-block__price span {
    font-weight: 700;
}